@use '@/styles/colors' as colors;

.button {
  padding: 8px 30px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: colors.$primary-text-color;
  background-color: colors.$primary-color;

  border: 3px solid colors.$primary-color;
  border-radius: 100px;

  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 6px 20px;
    font-size: 1rem;
  }
}

.button:hover {
  color: colors.$primary-color;
  background-color: colors.$primary-text-color;
}

.button:active {
  color: colors.$primary-color;
  background-color: colors.$bg-active;
}
