@import 'button.variables';

.button {
    padding: 8px 30px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: $button-text-color;
    background-color: $button-primary-color;

    border: 3px solid $button-primary-color;
    border-radius: 100px;

    cursor: pointer;

    @media screen and (max-width: 768px) {
        padding: 6px 20px;
        font-size: 1rem;
    }
}

.button:hover {
    color: $button-primary-color;
    background-color: $button-text-color;
}

.button:active {
    color: $button-primary-color;
    background-color: $button-active-bg;
}