@use '@/styles/colors' as colors;

.button {
  padding: 8px 30px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--text-on-primary);
  background-color: var(--primary);

  border: 3px solid var(--primary);
  border-radius: 100px;

  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  @media screen and (max-width: 768px) {
    padding: 6px 20px;
    font-size: 1rem;
  }
}

.button:hover {
  color: var(--primary);
  background-color: var(--background);
}

.button:active {
  color: var(--primary);
  background-color: var(--background-secondary);
}
