@import '@/styles/colors';

.button {
  padding: 8px 30px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: $primary-text-color;
  background-color: $primary-color;

  border: 3px solid $primary-color;
  border-radius: 100px;

  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 6px 20px;
    font-size: 1rem;
  }
}

.button:hover {
  color: $primary-color;
  background-color: $primary-text-color;
}

.button:active {
  color: $primary-color;
  background-color: $bg-active;
}
