/**
 * お問い合わせフォーム固有スタイル
 * 共通スタイルは formLayout.module.scss を使用
 */

.container {
  composes: formContainer from '@/components/form/layout/formLayout.module.scss';
}

.breadcrumb {
  composes: formBreadcrumb from '@/components/form/layout/formLayout.module.scss';
}

.title {
  composes: formTitle from '@/components/form/layout/formLayout.module.scss';
}

// フォーム説明文
.form-description {
  composes: formDescription from '@/components/form/layout/formLayout.module.scss';
}
