/**
 * SuccessOverlay スタイル
 */
@use '../../../styles/form.variables' as *;
@use '../../../styles/animations';

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $overlay-bg-solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 18px;
}

.icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, $success-color, $success-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 32px;
  font-weight: bold;
  animation: popIn 0.5s ease;
}

.text {
  margin-top: 16px;
  color: $success-color;
  font-size: 1.1rem;
  font-weight: 600;
}
