@use '@/styles/colors' as colors;

.basicInfoSection {
  margin-bottom: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.infoCard {
  background-color: colors.$bg-light-gray;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 100%;

  .label {
    font-size: 14px;
    margin-bottom: 12px;
    color: colors.$text-secondary;
  }

  .value {
    font-size: 20px;
    font-weight: 500;
  }
}
