@use '@/styles/colors' as colors;

.basicInfoSection {
  margin-bottom: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.infoCard {
  background-color: colors.$bg-light-gray;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 100%;

  .label {
    font-size: 14px;
    margin-bottom: 12px;
    color: colors.$text-secondary;
  }

  .value {
    font-size: 20px;
    font-weight: 500;
  }

  .editInput {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid colors.$border-gray;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;

    &:focus {
      outline: none;
      border-color: colors.$primary-color;
    }
  }

  .capacityInputs {
    display: flex;
    gap: 16px;
    width: 100%;

    .capacityField {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 4px;

      .subLabel {
        font-size: 12px;
        color: colors.$text-secondary;
        text-align: left;
      }
    }

    .editInput {
      width: 100%;
    }
  }
}
