@use '@/styles/colors' as colors;

.container {
  background-color: colors.$condition-search-bg;
  border: 2px solid colors.$condition-search-border;
  border-radius: 20px;
  padding: 40px 20px 20px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  position: absolute;
  top: -15px;
  left: 20px;
  background-color: colors.$border-green;
  border: 2px solid colors.$border-black;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.mapArea {
  width: 100%;
  height: 100%;
  min-height: 400px;

  border-radius: 10px;
  overflow: hidden;

  z-index: 1;
}

.popupContent {
  font-weight: bold;

  p {
    margin: 0 0 8px 0;
    line-height: 1.4;
  }
}

.popupLink {
  color: colors.$link-color;
  text-decoration: none;

  &:hover {
    color: colors.$link-hover-color;
    text-decoration: underline;
  }
}
