@use '@/styles/colors' as colors;

.detailSection {
  .sectionTitle {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .tabInstruction {
    font-size: 12px;
    text-align: right;
    margin-bottom: 16px;
    color: colors.$text-secondary;
  }
}

.tabNav {
  display: flex;
  border-bottom: 1px solid colors.$border-gray;
  margin-bottom: 30px;
  overflow-x: auto;
}

.tabItem {
  background: none;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  color: colors.$text-primary;
  white-space: nowrap;
  position: relative;
  font-weight: 500;

  &:hover {
    background-color: colors.$bg-hover-light;
  }

  &[aria-selected='true'] {
    color: colors.$text-primary;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: colors.$primary-color;
    }
  }
}

.tabContent {
  margin-bottom: 40px;
}

// -----------------------------------------------------------------------------
// Note: Tab content styles have been extracted to contents/TabContent.module.scss
// -----------------------------------------------------------------------------
