@use '../../../styles/colors' as colors;
@use '../../../styles/breakpoints' as breakpoints;

.tooltip {
  background-color: colors.$white !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 0.875rem !important;
  padding: 12px 16px !important;
  max-width: 500px !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
}

.arrow {
  color: colors.$white !important;

  &::before {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
  }
}
