@use '@/styles/colors' as colors;

.container {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: var(--primary);
  color: var(--text-on-primary);
  border: 1px solid var(--border-dark);
  border-radius: 999px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 0px var(--shadow-color);
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}
