@use '@/styles/colors' as colors;

.container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 100%;
}

.button {
  background-color: colors.$action-add;
  border: 1px solid colors.$black;
  border-radius: 999px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.8;
  }
}
