@use '@/styles/colors' as colors;

.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 2px solid colors.$black;
  padding-bottom: 0.5rem;
  width: 100%;
}
