/**
 * LoadingSpinner スタイル
 */
@use '../../../styles/form.variables' as *;
@use '../../../styles/animations';

.spinner {
  @include animations.animation-spin(1s);

  circle {
    stroke: $primary-color;
  }
}
