/**
 * LoadingSpinner スタイル
 */
@use '../../../styles/colors' as colors;
@use '../../../styles/animations';

.spinner {
  @include animations.animation-spin(1s);

  circle {
    stroke: colors.$form-primary;
  }
}
